NODE_ENV=production
PORT=80
DB_URI=mongodb+srv://mockuser:mockpass@prod-cluster.mock.mongodb.net/proddb?retryWrites=true&w=majority
LOG_LEVEL=error
API_ENDPOINT=https://api.company.com
FEATURE_FLAG_NEW_UI=false
